/* Brown Theme  (c) Sunghee Lee. ShhStudios, LLC */

// MIXINS
.transition-all (@time: 0.5s, @property: all, @function: ease-in-out) {
	-webkit-transition:@property @time @function;
	-moz-transition:@property @time @function;
	-o-transition:@property @time @function;
	transition:@property @time @function;
}

// VARIABLES
@brown_text_color: #80615D;




* {
    margin: 0;
    padding: 0;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: text;
}
body {
	color: #17181a;
	margin:0;
	padding:0;
}

a{
	color: #ff0000;
}



#jqt.fullscreen #home .info {
	display: none;
}

div#jqt #about {
	text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
	font-size: 13px;
	text-align: center;
	//background: #F5F1EB;
}

div#jqt #about p {
	margin-bottom: 8px;
}

div#jqt #about a {
	color: #80615D;
	border-bottom: 1px dotted #80615D;
 
}
div#jqt #about a.back {
	color: #fff;
	font-weight: bold;
	border-bottom: none;
}

#app_info{
	padding: 15px 10px 10px 10px;
}

body {
	background: #F5F1EB;
	font-family: Futura-Medium, "Helvetica Neue", Helvetica;
}

a {
	text-decoration: none;
	color: inherit;
}

#jqt {
	font-family: Futura-Medium, "Helvetica Neue", Helvetica;
}

#jqt > * {
}

#jqt h1,
#jqt h2 {
	font: 18px Futura-Medium, "Helvetica Neue", Helvetica;
	text-shadow: rgba(255, 255, 255, .2) 0 1px 1px;
	color: rgb(76, 86, 108);
	margin: 10px 20px 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
}

/* @group Toolbar */

#jqt {
	> .toolbar {
		z-index:1;
		background: #72534F;
		background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #80615D), color-stop(0.5, #72534F), color-stop(0.5, #664743), color-stop(1, #573733));
		border-bottom: 1px solid #2d3642;
	}

	.toolbar {
		-webkit-box-sizing: border-box;
		padding: 10px;
		height: 39px;
		position: relative;

		h1 {
			position: absolute;
			overflow: hidden;
			left: 50%;
			top: 10px;
			line-height: 1em;
			margin: 1px 0 0 -75px;
			height: 40px;
			font-size: 16px;
			width: 150px;
			font-weight: normal;
			text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			letter-spacing: 1px;
			color: #fff;
		}
	}
}

#jqt .black-translucent .toolbar {
	margin-top: 20px;
}

#jqt.landscape .toolbar > h1 {
	margin-left: -125px;
	width: 250px;
}

#jqt .button,
#jqt .toolbar .back,
#jqt .cancel,
#jqt .add {
	position: absolute;
	overflow: hidden;
	top: 6px;
	right: 10px;
	margin: 0;
	padding: 0 8px;
	width: auto;
	height: 26px;
	line-height: 2.3em;
	font-family: inherit;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	background: none;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

#jqt .button:active{
	color: #ccc;
}

#jqt .edit .button,
#jqt .edit .toolbar .back,
#jqt .edit .cancel,
#jqt .edit .add {
	background-color:blue;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
}

#jqt .toolbar .back {
	left: 6px;
	height: 26px;
	right: auto;
	top: 6px;
	line-height: 2.3em;
	font-size: 11px;
	font-weight: normal;
	max-width: 41px;
	padding-left: 13px;
	border-width: 0 0 0 9px;
	border-radius: 0 8px 8px 0;
	-webkit-mask-image: url(img/mask_button_back.png);
	-moz-mask-image: url(img/mask_button_back.png);
	mask-image: url(img/mask_button_back.png);
}

#jqt .toolbar .back.active {
	background: #490000;
	color: #80615D;
}

#jqt #createPage .toolbar {
	margin-bottom: 5px;
}

#jqt .toolbar .settingButton {
	background-color: transparent;
	background: url(img/settings@2x.png) no-repeat center;
	background-size: 22px;
	top: 8px;
	width: 22px;
	height: 22px;
	left:6px;
	right:auto;
	-webkit-transition:opacity 0.3s ease-in-out;
}

#jqt #home.edit .toolbar .settingButton {
	opacity:0.2;
}

#jqt .toolbar .settingButton:active {
	opacity: .6;
}

#jqt .leftButton,
#jqt .cancel {
	left: 6px;
	right: auto;
}

#jqt .add {
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
}

/*===buttons==*/

#jqt .btn{
	display: block;
	padding: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: inherit;
	margin:10px 5px;
	-webkit-box-shadow: rgba(0, 0, 0, .2) 0 1px 1px 1px;
	-webkit-border-radius: 15px;
}

#jqt .brown_btn {
	color: #FFFFFF;

	background: #72534F;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #80615D), color-stop(0.5, #72534F), color-stop(0.5, #664743), color-stop(1, #573733));
}

#jqt .brown_btn:active {
	background: #72534F;
}

#jqt .light_btn {
	color: #444;
	text-shadow: 0px -1px 1px #ccc;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fff), color-stop(0.5, #ebebeb), color-stop(0.5, #ddd), color-stop(1, #ccc));
}

#jqt .light_btn:active {
	background: #f3f3f3;
}

#jqt .red_btn {
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
	color: #fff;
	text-align: center;
	text-shadow: 0px -1px 1px #3d0700;
}

#jqt .red_btn:active {
	background: #b51700;
}

#jqt .gaugefy_go {
	float: left;
	padding: 8px;
	margin: 0 0 0 2%;
	width: 6%;
	height:  16px;
	line-height: 1.5em;
	color: #fff;
	font-size: 11px;
	background: #72534F;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #80615D), color-stop(0.5, #72534F), color-stop(0.5, #664743), color-stop(1, #573733));
	-webkit-box-shadow: rgba(0, 0, 0, .2) 0 1px 0 0;
}

#jqt .gaugefy_go:active {
	background: #72534F;
}

#jqt .adjust_show {
	display:none;
}

#jqt .adjust_show.show {
	display:block;
}


/* @end */

/* @group Lists */

#jqt h1 + ul,
#jqt h2 + ul,
#jqt h3 + ul,
#jqt h4 + ul,
#jqt h5 + ul,
#jqt h6 + ul {
	margin-top: 0;
}

#jqt ul {
	color: black;
	background: #fff;
	border: 1px solid #B4B4B4;
	font: bold 17px Futura-Medium, "Helvetica Neue", Helvetica;
	padding: 0;
	margin: 15px 10px 17px 10px;
	padding: 5px;
	margin: 0;
	-webkit-border-radius: 8px;
}

#jqt ul li {
	color: #666;
	border-top: 1px solid #B4B4B4;
	list-style-type: none;
	padding: 10px 10px 10px 10px;
}

/* when you have a first LI item on any list */

#jqt li:first-child,
#jqt li:first-child a {
	border-top: 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#jqt li:last-child,
#jqt li:last-child a {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

#jqt {
	#home {

		.content {
			padding-top:0;
			//position:relative;

			.new_btn_cont {
				overflow:hidden;
				margin:0;

				.new {
					margin:13px 13px 3px;
					opacity:1;
					-webkit-transition:opacity 0.3s ease-in-out;
				}
			}

			ul.gaugelist {
				background: transparent;
				border:0;
				padding: 0 10px;
				margin:10px 0;
				//position:relative;

				li {
					background: #fff;
					border: 1px solid #B4B4B4;
					border-bottom:0;
					font: bold 17px Futura-Medium, "Helvetica Neue", Helvetica;
					margin: 0;
					color: #666;
					list-style-type: none;
					padding: 0;
					overflow:hidden;
					//position:relative;
					min-height:39px;

					a {
						padding: 10px 15px;
						color: #333;
					}
					
					a.delete {
						width:32px;
						height:39px;
						float:right;
						//position:absolute;
						//right:-32px;
						text-align:center;
						padding:0;
						margin:0;
						border-radius:0;
						-webkit-transition:all 0.3s ease-in-out;
						background: url(img/multiply@2x.png) no-repeat center;
						background-size: 10px;
						overflow:hidden;
						text-indent:-999px;
						opacity:0;
					}
					&:active {
						background: #ebebeb;
					}
					&:first-child {
						-webkit-border-top-left-radius: 8px;
						-webkit-border-top-right-radius: 8px;
					}

					&:last-child {
						border-bottom: 1px solid #B4B4B4;
						-webkit-border-bottom-left-radius: 8px;
						-webkit-border-bottom-right-radius: 8px;
					}
				}
			}
		}

		&.edit {
			.content {
				ul.gaugelist li a.delete {
					//right:5px;
					opacity:1;
				}
				.new_btn_cont .new {
					opacity:0.2;
					//margin-top:-50px;
				}
			}
		}
	}
}


/* when you have a first LI item on any list */

#jqt li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#jqt li:last-child {
	border-bottom: 1px solid #B4B4B4;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

/* universal arrows */

#jqt ul li.arrow {
	background-image: url(img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
}

#jqt ul li.arrow a {
	padding: 12px 22px 12px 10px;
}

#jqt ul.plastic li.arrow,
#jqt ul.metal li.arrow {
	background-image: url(img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/* universal links on list */

#jqt ul li a,
#jqt li.img a + a {
	color: #000;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 12px 10px 12px 10px;
	margin: -10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#jqt ul li a.active {
	background-color: #194fdb;
	color: #fff;
}

#jqt ul li.arrow a.active {
	background-image: url(img/listArrowSel.png);
	background-position: right center;
	background-repeat: no-repeat;
}

#jqt ul li a.button {
	background-color: #194fdb;
	color: #fff;
}

#jqt ul li.img a + a {
	margin: -10px 10px -20px -5px;
	font-size: 17px;
	font-weight: bold;
}

#jqt ul li.img a + a + a {
	font-size: 14px;
	font-weight: normal;
	margin-left: -10px;
	margin-bottom: -10px;
	margin-top: 0;
}

#jqt ul li.img a + small + a {
	margin-left: -5px;
}

#jqt ul li.img a + small + a + a {
	margin-left: -10px;
	margin-top: -20px;
	margin-bottom: -10px;
	font-size: 14px;
	font-weight: normal;
}

#jqt ul li.img a + small + a + a + a {
	margin-left: 0px !important;
	margin-bottom: 0;
}

#jqt ul li a + a {
	color: #000;
	font: 14px Futura-Medium, "Helvetica Neue", Helvetica;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

#jqt ul li a + a + a,
#jqt ul li.img a + a + a + a,
#jqt ul li.img a + small + a + a + a {
	color: #666;
	font: 13px Futura-Medium, "Helvetica Neue", Helvetica;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 0;
}

/*
@end */

/* @group Forms */

#jqt ul.form li {
	padding: 7px 10px;
}

#jqt ul.form li.error {
	border: 2px solid red;
}

#jqt ul.form li.error + li.error {
	border-top: 0;
}

#jqt ul.form li:hover {
	background: #fff;
}

#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="tel"],
#jqt ul li input[type="number"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt ul li input[type="url"],
#jqt ul li textarea,
#jqt ul li select {
	color: #444;
	background: transparent url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
	border: 0;
	font: normal 16px Futura-Medium, "Helvetica Neue", Helvetica;
	padding: 0;
	display: inline-block;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	-webkit-appearance: textarea;
}

#jqt ul li textarea {
	height: 120px;
	padding: 0;
	text-indent: -2px;
}

#jqt ul li select {
	text-indent: 0px;
	background: transparent url(img/chevron.png) no-repeat 103% 3px;
	-webkit-appearance: textfield;
	margin-left: -6px;
	width: 104%;
}

#jqt ul li input[type="checkbox"],
#jqt ul li input[type="radio"] {
	margin: 0;
	color: rgb(50,79,133);
	padding: 10px 10px;
}

#jqt ul li input[type="checkbox"]:after,
#jqt ul li input[type="radio"]:after {
	content: attr(title);
	font: 17px Futura-Medium, "Helvetica Neue", Helvetica;
	display: block;
	width: 246px;
	margin: -12px 0 0 17px;
}

/* @end */

/* @group Edge to edge */
#jqt ul.edgetoedge,
#jqt ul.edgetoedge * {
	-webkit-border-radius: 0 !important;
}
 #jqt ul.edgetoedge li {
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(139, 159, 171, 1)), to(rgba(181, 193, 201, 1.0)));
 border-bottom: 1px solid #b5c1c9;
 border-top: 1px solid #b5c1c9;
 color: #fff;
 font-size: 16px;
 margin: 1px 0 0 0;
 padding: 2px 10px;
 text-shadow: #636a6f 0 1px 0;
}

#jqt ul.edgetoedge h4 {
	color: #fff;
	background: rgb(154,159,170) url(img/listGroup.png) top left repeat-x;
	border-top: 1px solid rgb(165,177,186);
	text-shadow: #666 0 1px 0;
	margin: 0;
	padding: 2px 10px;
}

#jqt .edgetoedge,
#jqt .metal {
	margin: 0;
	padding: 0;
	background-color: rgb(255,255,255);
}

#jqt ul.edgetoedge,
#jqt ul.metal,
#jqt ul.plastic {
	-webkit-border-radius: 0;
	margin: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

#jqt ul.metal {
	border-top: 0;
	border-bottom: 0;
	background: rgb(180,180,180);
}

#jqt ul.edgetoedge li:first-child,
#jqt ul.edgetoedge li:first-child a,
#jqt ul.edgetoedge li:last-child,
#jqt ul.edgetoedge li:last-child a,
#jqt ul.metal li:first-child a,
#jqt ul.metal li:last-child a {
	-webkit-border-radius: 0;
}

#jqt ul.edgetoedge li {
	background-color: #ebebeb;
}

#jqt ul.edgetoedge li small {
	font-size: 16px;
	line-height: 28px;
}

#jqt ul.edgetoedge li small img {
	border: 1px solid #999;
}

#jqt ul.edgetoedge li,
#jqt .metal li {
	-webkit-border-radius: 0;
}

#jqt ul.edgetoedge li em {
	font-weight: normal;
	font-style: normal;
}

#jqt ul.edgetoedge h4 + ul {
	border-top: 1px solid rgb(152,158,164);
	border-bottom: 1px solid rgb(113,125,133);
}

#jqt ul.edgetoedge li em {
	display: block;
	font-size: 14px;
	font-style: normal;
	width: 60%;
	line-height: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 5px;
}

#jqt ul.edgetoedge li small {
	float: right;
	position: relative;
	margin-top: 5px;
	font-weight: bold;
	margin-right: 45px;
}

#jqt ul.edgetoedge li.arrow small {
	float: right;
	position: relative;
	margin-top: 10px;
	font-weight: bold;
	margin-right: 20px;
}

.note {
	-webkit-border-radius: 11px;
	background: #fff;
	padding: 5px 10px;
	margin: 10px;
	margin-bottom: 0;
}

.note p {
	padding: 5px 0;
	font-weight: normal;
}

#jqt #about .note h3{
	padding-top: 10px;
	margin-top: 0 !important;
	padding-bottom: 5px;
	margin-bottom: 0;
}

#jqt .note ul {
	padding: 5px;
	border: none;
	margin-left: 10px;
}

#jqt .note li {
	list-style-type: disc;
	border: none;
	padding: 5px 0;
	font-weight: normal;
	text-align: left;
	font-size: 13px;
}

.youtube {
	-webkit-border-radius: 11px;
	display: block;
	padding: 10px 15px;
	margin: 10px;
	background: #fff url(img/youtube.png) no-repeat 10px center;
	padding-left: 40px;
}

/* @end */

/* @group Mini Label */

#jqt ul li small {
	color: #369;
	font: 17px Futura-Medium, "Helvetica Neue", Helvetica;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 23%;
	float: right;
	padding: 3px 0px;
}

#jqt ul li.arrow small {
	padding: 0 15px;
}

#jqt ul li small.counter {
	font-size: 17px !important;
	line-height: 13px !important;
	font-weight: bold;
	background: rgb(154,159,170);
	color: #fff;
	-webkit-border-radius: 11px;
	padding: 4px 10px 5px 10px;
	display: inline !important;
	width: auto;
	margin-top: -22px;
}

#jqt ul li.arrow small.counter {
	margin-right: 15px;
}

/* @end */

/* @group Individual */

#jqt ul.individual {
	border: 0;
	background: none;
	clear: both;
	overflow: hidden;
}

#jqt ul.individual li {
	background: #4c4d4e;
	border: 1px solid #ccc;
	font-size: 13px;
	text-align: center;
	-webkit-border-radius: 15px;
	-webkit-box-sizing: border-box;
	width: 31%;
	float: left;
	display: block;
	padding: 6px;
	/*-webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ebebeb));
*/
	background: #fff;
	-webkit-box-shadow: inset 3px 3px 10px 0px #ebebeb;
}

#jqt ul.individual li + li {
	float: right;
}

#jqt ul.individual li a {
	color: rgb(50,79,133);
	line-height: 16px;
	margin: -11px -10px -14px -10px;
	padding: 11px 10px 14px 10px;
	-webkit-border-radius: 8px;
}

#jqt ul.individual li a:hover {
	color: #fff;
	background: #36c;
}

/* @end */

/* @group Toggle */


#jqt .toggle {
	width: 94px;
	position: relative;
	height: 27px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
}

#jqt .toggle input[type="checkbox"]:checked {
	left: 0px;
}

#jqt .toggle input[type="checkbox"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	-webkit-border-radius: 5px;
	background: #fff url(img/on_off.png) 0 0 no-repeat;
	height: 27px;
	overflow: hidden;
	width: 149px;
	border: 0;
	-webkit-appearance: textarea;
	background-color: transparent;
 -webkit-transition: left .15s;
	position: absolute;
	top: 0;
	left: -55px;
}

.incm {
	width: 160px;
	display: block;
	-webkit-border-radius: 15px;
}

/* @end */



#jqt .info {
	background: #dce1eb;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-shadow: rgba(255, 255, 255, .8) 0 1px 0;
	color: rgb(76, 86, 108);
	padding: 15px;
	border-top: 1px solid rgba(76, 86, 108, .3);
	font-weight: bold;
}

input[type='submit'] {
	-webkit-border-radius: 4px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238, 238, 238, 1)), to(rgba(156, 158, 160, 1)));
	border: 1px outset #aaa;
	display: block;
	font-size: inherit;
	font-weight: inherit;
	padding: 10px;
}

#jqt ul.gaugefy_selected {
	background: #F5E6D5;
	-webkit-border-radius: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF5EB));
	-webkit-box-shadow: rgba(102, 71, 67, .3) 0 0 2px 1px;
}

#jqt ul.gaugefy_selected li input[type="number"] {
	color: #880000;
}

/*======Gaugefy Page========*/

.instruction {
	font-size: 13px;
	padding: 10px;
	text-align: center;
}

.gauge_result,
.gauge_adjust_result {
	background: #ccc;
	padding-bottom: 10px;
	margin: 10px 0;
	margin-top: 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FFF5EB));
	-webkit-box-shadow: rgba(102, 71, 67, .3) 0 0 2px 1px;
	clear: both;
	overflow: hidden;
}

#jqt .gauge_result h3,
#jqt .gauge_adjust_result h3,
#jqt .gaugefy_selected h3{
	color: #f33;
}

#jqt .gauge_result h3,
#jqt .gauge_adjust_result h3{
	color: #f33;
	font-size: 16px;
}

.gStitches,
.gRows,
.sWidth,
.sLength,
.adjustedStitches,
.adjustedRows
 {
	color: #333;
}

.active_glow{
	-moz-box-shadow: 0px 0px 12px #387bbe !important;
	-webkit-box-shadow: 0px 0px 12px #387bbe !important;
	box-shadow: 0px 0px 12px #387bbe !important;
	
}
.gauge_result p,
.gauge_adjust_result p,
.instruction {
	font-size: 15px;
	color: #666;
	padding-top: 5px;
}

.instruction a {
	color: #666;
}

#jqt .edited_page ul li{
	border: none;
	box-shadow: none;
	background: transparent !important;
	color: #444;
	font-weight: normal;
	font-size: 16px;
}

#jqt .edited_page ul li:first-child{
	text-align: right;
}

#jqt .edited_page ul li:first-child span{
	padding-right: 25px;
}

#jqt .edited_page ul li:last-child{
	text-align: left;
}

#jqt .edited_page ul li:last-child span{
	padding-left: 25px;
}

/*==star to select===*/
.gaugefy_select {
	float: left;
	width: 13%;
	height: 24px;
	display: block;
	background: url(img/star@2x.png) no-repeat top center;
	background-size: 24px auto;
	cursor: pointer;
}

.gaugefy_select:active,
.gaugefy_selected .gaugefy_select {
	background: url(img/star@2x.png) no-repeat bottom center;
	background-size: 23px auto;
	outline: none !important;
	border: none !important;
}

.multiply {
	display: block;
	float: left;
	width: 10%;
	height: 35px;
	text-align: center;
	background: url(img/multiply@2x.png) no-repeat center;
	background-size: 10px;
}

/*===general list===*/

#jqt  ul.individual li {
padding: 4px 0;
}

#jqt #gauge ul.individual li,
#jqt #gauge-new ul.individual li,
#jqt #gauge-edit ul.individual li,
#jqt #gauge-adjust ul.individual li {
	width: 43%;
}

#jqt #gauge ul.full li,
#jqt #gauge-edit ul.full li,
#jqt #gauge-new ul.full li {
	width: 100%;
}


#jqt #createPage ul.individual li {
	width: 32%;
	margin-bottom: 5px;
 
}

/*=============Gauge Page=====*/

#jqt #gauge {
	.toolbar {
		.btn_cancel {
			display:none;
		}
	}
	.content {
		.editContent {
			display:none;
		}
	}
	&.new, &.edit {
		.toolbar {
			.btn_edit {
				display:none;
			}
		}
		.content {
			.viewContent {
				display:none;
			}
			.editContent {
				display:block;
			}
		}
	}
	&.new {
		.content {
			.btn_del {
				display:none;
			}
		}
	}
	&.edit {
		.toolbar {
			.btn_back {
				display:none;
			}
			.btn_cancel {
				display:block;
			}
		}
	}
}

#jqt #gauge p#choose_method{
	margin-top: 5px;
}


#jqt #gauge p#choose_method a {
	width: 43%;
	float: left;
}

#jqt #gauge p#choose_method a + a {
/*	width: 55%;*/
	float: right;
}


#jqt #gauge ul.individual li:last-child,
#jqt #createPage ul.individual li + li {
	float: right;
}

#jqt #gauge ul.individual,
#jqt #gauge-new ul.individual,
#jqt #gauge-edit ul.individual,
#jqt #gauge-adjust ul.individual {
	background: url(img/multiply@2x.png) no-repeat center;
	background-size: 10px;
}

#jqt h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: #666;
	font-weight: normal;
	padding: 10px 0;
	padding: 7px 0 0 0;
}

#jqt #createPage h3 {
	text-align: left;
	padding: 7px 0 5px 13%;
}
 input::-webkit-input-placeholder {
 	text-align:center;
}

input[disabled] {
	-webkit-text-fill-color:#000;
}

form#calculateGauge {
	padding: 10px 0;
}

#jqt #about .toolbar .back {
	font-weight: normal;
	padding-bottom: none;
}

#jqt #about h3 {
	color: #555;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 !important;
}

.combo_btns {
	margin: 0 5px;
	clear: both;
	overflow: hidden;
}

.combo_btns a{
	margin: 0;
	padding: 0;
}

/*.combo_btns .clear {
	width: 25%;
		float: left;
}*/


/*.combo_btns .clear + a{
	width: 60%;
	float: right;
}*/

#clear2_btn {
	margin-top: 10px !important;
}

.gauge_refer {
	color: #72534F;
	/*background-color: rgba(255, 255, 255, .7);*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ccc;
	border-radius: 15px;
	padding: 2px;
	margin-top: 2px;
}

.gauge_refer:active {
	background: #ebebeb;
}


.repeat_help_icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(img/help@2x.png) no-repeat center;
	background-size: 16px;
	
}

.instruction_btn{
	color: #72534F;
	/*background-color: rgba(255, 255, 255, .7);*/
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ccc;
	border-radius: 15px;
	padding: 2px;
	margin: 10px;
	text-align: center;
}

.instruction_btn:active{
	background: #fff;
}

#jqt .floaty {
    -webkit-box-shadow: rgba(0,0,0, .5) 0px 4px 4px;
	width: 90% !important;
	margin: 0 3% 10px;
	padding: 15px 2% 10px 2%;
	color: #333;
	font-size: 12px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	background: rgba(254, 249, 183, .95) url('img/delete@2x.png') no-repeat right bottom;
	background-size: 20px;
	-webkit-transition:top 0.3s ease-in-out;
	z-index:1;
	top:-1000px;
	position:absolute;
	transform:translateZ(0);
	-webkit-transform: translateZ(0);
	min-height:45px;

	a.close {
		position:absolute;
		bottom:0;
		right:0;
		height:44px;
		width:44px;
	}
}

.small{
	font-size: 11px;
	padding: 18px;
	padding-bottom: 0;
	line-height: 1.8em;
}

#jqt .floaty p{
	padding-left: 13px;
	padding-right: 13px;
}

#jqt .floaty p.small{
	font-size: 11px;
	padding: 5px 20px;
	line-height: 1.5em;
}

#jqt ul.segmentedControl li{
	float: left;
}

#gauge-create ul .gaugefy_go{display:none;}
#gauge-create ul.gaugefy_selected .gaugefy_go{display:block;}

::-webkit-input-placeholder { text-align:right; }

p.needleyarn {
	margin:10px;
	text-align:center;
	font-size: 12px;
	color: @brown_text_color;
}

/* @group Apple segmentedControl */

#jqt #about {

	.units, .needles {
		margin: 0 auto;
		width:250px;
		overflow:auto;

		a {
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#c7c7c7));
			background-color: #e1e1e1;
			border: 1px solid rgba(180, 180, 180, 0.8);
			border-right:0;
			padding: 5px 8px;
			text-shadow: rgba(255,255,255,.8) 1px 1px 0px;
			font-weight: normal !important;
			color: #777 !important ;
			display:block;
			float:left;
			width:100px;
			text-align:center;

			&:first-child {
				border-radius: 20px 0 0 20px;
				padding-left:15px;
			}
			&:last-child {
				border-radius:0 20px 20px 0;
				border-right:1px solid rgba(180, 180, 180, 0.8);
				padding-right:15px;
			}
			&.selected {
				background-color: #528ce7;
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#336ed2), to(#70aafc));
				color: #fff;
				color: #fff !important;
				text-shadow: none;
			}
		}
	}
}

#jqt {
	#gauge-adjust .btn_adjust {
		display: none;

		&.show {
			display:block;
		}
	}

	#gauge-create {
		.gaugefy_go {
			display: none;
		}
		.gaugefy_selected {
			.gaugefy_go.show {
				display:block;
			}
		}
	}
}

/* @end */

// Page Animations

@toolbarHeight:39px;
@animationSpeed:0.35s;
//@animationSpeed:3s;

html,body {
	height:100%;
	width:100%;
}
* {
	//box-sizing:border-box;
}
#jqt {
	width:100%;
	height:100%;
	overflow-x:hidden;

	> .toolbar {
		height:@toolbarHeight;
		//-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
	}
	> div {
		height:100%;
		width:100%;
		overflow:hidden;
		position:absolute;
		top:0;
		left:0;
		background:transparent;
		z-index:1;
		.transition-all(@animationSpeed);
		overflow:auto;
		overflow-x:hidden;
		box-sizing:border-box;

		.toolbar, footer {
			.transition-all(@animationSpeed);
			transform:translateZ(0);
			position: absolute;
			width: 100%;
			opacity:0;
		}
		.toolbar {
			left: 50%;
			height:@toolbarHeight;
			transform:translateZ(0);
			-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
		}
		div.wrapper {
			left:100%;
			height:100%;
			width:100%;
			margin:0;
			padding:@toolbarHeight 0 0;
			.transition-all(@animationSpeed);
			position:absolute;
			box-sizing:border-box;
			transform:translateZ(0);
			overflow:auto;
			overflow-x:hidden;
			-webkit-overflow-scrolling: touch;

			div.scroller {
				width:100%;
				height:100%;
				overflow-x:hidden;
				position:relative;
				overflow:auto;
				overflow-x:hidden;
				-webkit-overflow-scrolling: touch;
				box-sizing:border-box;

				div.content {
					width:100%;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-box-align: stretch;
					-webkit-box-flex: 1;
					margin-bottom:-1px;
					overflow-x:hidden;
					position:relative;
					box-sizing:border-box;
				}
			}
		}

		&.current, &.prepare {
			.toolbar, footer {
				opacity:1;
			}
			.toolbar {
				-webkit-transform: translate3d(-50%, 0, 0);
			}
			div.wrapper {
				-webkit-transform: translate3d(-100%, 0, 0);
			}

			&.stageleft {
				.toolbar, footer {
					opacity:0;
				}
				.toolbar {
					-webkit-transform: translate3d(-100%, 0, 0);
				}
				div.wrapper {
					-webkit-transform: translate3d(-200%, 0, 0);
				}
			}
		}
		&.prepare {
			opacity:0;
		}
		&.current {
			opacity:1;
			z-index:100;
		}
	}
}



/*iPad */

@media only screen and (min-width: 768px)  {

body *{
	font-size: 102% !important;
}	
	
h3{
	margin: .7em 0 .5em !important;
}

#jqt .button,
#jqt .toolbar .back,
#jqt .cancel,
#jqt .add {
	font-size: 11px !important;
}

#jqt #gauge-create ul.gaugefybox:first-child{
	margin-top: 20px;
}

#jqt #gauge-create ul.gaugefybox{
	padding-bottom: 20px;
}

#jqt ul.individual li,
#jqt .btn{
	-webkit-border-radius: 20px !important;
}

#jqt ul.segmentedControl li:first-child{
	-webkit-border-top-left-radius: 20px !important;
	-webkit-border-bottom-left-radius: 20px !important;
}

#jqt ul.segmentedControl li:last-child{
	-webkit-border-top-right-radius: 20px !important;
	-webkit-border-bottom-right-radius: 20px !important;
}

.combo_btns{
		margin-top: 1em;
}

div#jqt .gaugefy_go,
div#jqt a.back {
	font-size: 11px !important;
}

div#jqt .gaugefy_go{
	font-size: 15px !important;
	line-height: 1em;
}

#about p{
	padding: .5em 0 !important;
}

#jqt #about .note h3{
	padding-top: 0 !important;
	margin-top: 0 !important;
	padding-bottom: 5px;
	margin-bottom: 0;
}

#about .small{
	margin-top: 2em !important;
	font-size: 80% !important;
}

	
}/*end iPad CSS*/