<div class="floaty">
	<a class="close" href="#"></a>
	<p> Use this page to calculate your target size. It can be useful when you&#39;re designing your own pattern. </p>
	<br />
	<p> 1. Click on the star next to the method you want to use. </p>
	<p> 2. Enter the values in the highlighted area. </p>
	<p> 3. Click on the "Go" button. The rest of the values will be calculated based on your gauge. </p>
	<br />
	<p> <strong>BY REPEAT</strong> means how many repeats of the swatch. </p>
	<p class="small">* If you change the numbers, the Go button will reappear.</p>
</div>
<div class="instruction_btn createPage_instruction btn_show_ins"> Instruction </div>
<form id="gaugefyForm">
	<ul class="edit rounded individual gaugefybox <% if(method == 1) { %>gaugefy_selected<% } %>">
		<h3>By Measurement:</h3>
		<span class="gaugefy_select"></span>
		<li> <input class="goal_width" type="number" name="goal_width" placeholder="width" value="<%= goal_width ? goal_width : "" %>" <% if(method != 1) { %>disabled<% } %> /> </li>
		<span class="multiply"></span>
		<li> <input class="goal_length" type="number" name="goal_length" placeholder="length" value="<%= goal_length ? goal_length : "" %>" <% if(method != 1) { %>disabled<% } %> /> </li>
		<a href="#" class="btn gaugefy_go btn_measurement">Go</a>
	</ul>
	<ul class="edit rounded individual gaugefybox <% if(method == 2) { %>gaugefy_selected<% } %>">
		<h3>By Stitches and Rows:</h3>
		<span class="gaugefy_select"></span>
		<li> <input class="goal_stitches" type="number" name="goal_stitches" placeholder="stitches" value="<%= goal_stitches ? goal_stitches : "" %>" <% if(method != 2) { %>disabled<% } %> /> </li>
		<span class="multiply"></span>
		<li> <input class="goal_rows" type="number" name="goal_rows" placeholder="rows" value="<%= goal_rows ? goal_rows : "" %>" <% if(method != 2) { %>disabled<% } %> /> </li>
		<a href="#" class="btn gaugefy_go btn_stitches">Go</a>
	</ul>
	<ul class="edit rounded individual gaugefybox <% if(method == 3) { %>gaugefy_selected<% } %>">
		<h3>By Repeat: </h3>
		<span class="gaugefy_select"></span>
		<li> <input class="goal_repeat_x" type="number" name="goal_repeat_x" placeholder="repeat w" value="<%= goal_repeat_x ? goal_repeat_x : "" %>" <% if(method != 3) { %>disabled<% } %> /> </li>
		<span class="multiply"></span>
		<li> <input class="goal_repeat_y" type="number" name="goal_repeat_y"  placeholder="repeat l" value="<%= goal_repeat_y ? goal_repeat_y : "" %>" <% if(method != 3) { %>disabled<% } %> /> </li>
		<a href="#" class="btn gaugefy_go btn_repeat">Go</a>
	</ul>
	<p><a href="#/clear" id="clear2_btn" class="btn light_btn btn_clear" >Clear</a> </p>
</form>