<form id="calculateGauge">
	<div class="swatch_info">
		<ul class="edit rounded individual full">
            <li><input id="gauge_title" class="title" type="text" name="gauge_title" placeholder="  title" value="<%= title ? title : '' %>" /></li>
        </ul>
		<h3>Swatch Stitches/Rows:</h3>
		<ul class="edit rounded individual">
			<li> <input id="swatch_stitches" class="stitches" type="number" name="swatch_stitches" placeholder="  stitches" value="<%= swatch_stitches ? swatch_stitches : '' %>" /></li>
			<li> <input id="swatch_rows" class="rows" type="number" name="swatch_rows" placeholder="  rows" value="<%= swatch_rows ? swatch_rows : '' %>" /></li>
		</ul>
		<h3>Swatch Measurement: <a href="#" id="by_repeat" class="repeat_help_icon"></a></h3>
		<ul class="edit rounded individual">
			<li> <input id="swatch_width" class="width" type="number" name="swatch_width" placeholder="  width" value ="<%= swatch_width ? swatch_width : '' %>" /></li>
			<li> <input id="swatch_length" class="length" type="number" name="swatch_length" placeholder="  length" value="<%= swatch_length ? swatch_length : '' %>" /></li>
		</ul>
		<ul class="edit rounded individual full">
            <li><input type="text" id="gauge_yarn" class="yarn" name="gauge_yarn" placeholder="  yarn" value="<%= yarn ? yarn : '' %>" /></li>
        </ul>
		<ul class="edit rounded individual full">
            <li><input type="number" id="gauge_needle" class="needle" name="gauge_needle" placeholder="  needle" value="<%= needle ? needle : '' %>" /></li>
        </ul>
	</div> <!-- .swatch_info -->
	<p class="combo_btns">
		<a href="#/clear" class="btn clear btn_clear light_btn">Clear</a>
		<a href="#/gauges/<%= cid %>" class="btn btn_save brown_btn" >Save</a>
	</p>
</form>