<a class="button back btn_back" href="#/">Back</a>
<a class="button btn_cancel" href="#/">Cancel</a>
<h1><%= title ? title : 'new' %></h1>
<a class="button edit btn_edit" href="#/gauges/edit/<%= cid %>">Edit</a>