<form id="calculateGauge" class="edited_page">
	<div class="swatch_info">
		<h3>Swatch Stitches/Rows:</h3>
		<ul class="edit rounded individual">
			<li>
				<span><%= swatch_stitches ? swatch_stitches : '' %></span>
			</li>
			<li>
				<span><%= swatch_rows ? swatch_rows : '' %></span>
			</li>
		</ul>
		<h3>Swatch Measurement:</h3>
		<ul class="edit rounded individual">
			<li>
				<span><%= swatch_width ? swatch_width : '' %></span>
			</li>
			<li>
				<span><%= swatch_length ? swatch_length : '' %></span>
			</li>
		</ul>
		<% if(needle != "" || yarn != "") { %><p class="needleyarn">With <% if(needle != '') { %>size <strong><%= needle %> <%= needle_unit %></strong> needle <% } %><% if(needle != "" && yarn != "") { %> and <% } %><% if(yarn != '') { %> <strong><%= yarn %></strong> yarn <% } %></p><% } %>
	</div> <!-- .swatch_info -->
	<div class="gauge_show">
		<div class="gauge_result">
			<h3>Gauge:</h3>
			<p align="center">
				<span class="gStitches"><%= gauge_stitches %></span> stitches, <span class="gRows"><%= gauge_rows %></span> rows per <span class="incm_output"><%= unit %></span>
			</p>
			<p class="individual" id="choose_method">
				<a href="#/gauges/adjust/<%= cid %>" class="adjustgo_btn btn red_btn">Adjust</a>
				<a href="#/gauges/create/<%= cid %>" class="creatego_btn btn red_btn">Create</a>
			</p>
		</div>
	</div> <!-- #gauge_show -->
</form>