<div class="floaty">
	<a class="close" href="#"></a>
	<p> Use this page to adjust the number of stitches/rows for the pattern you are working with. It can be useful when you are using yarn with different weight from your pattern. (Otherwise, another alternative is to size up/down your needle.)</p>
	<br />
	<p> 1. Enter the gauge stitches/rows from your pattern. </p>
	<p class="small"> *To make things simpler, you can enter the numbers in the pattern as is, not per inch/cm, as that&#39;s how most patterns shows. Just make sure the swatch size (the inches/cm measured) is identical.</p>
	<p> 2. Enter stitches/rows for the width/length you need to make.</p>
	<p> 3. Press Go button. </p>
	<p class="small">* If you change the numbers, the Go button will reappear.</p>
</div>
<div class="instruction_btn adjustPage_instruction btn_show_ins"> Instruction </div>
<div class="adjust_info">
	<h3>Pattern Gauge Stitches/Rows:</h3>
	<ul class="edit rounded individual">
		<li> <input class="pattern_gauge_stitches" type="number" name="pattern_gauge_stitches" placeholder="stitches" value="<%= pattern_gauge_stitches ? pattern_gauge_stitches : '' %>" /> </li>
		<li> <input class="pattern_gauge_rows" type="number" name="pattern_gauge_rows"  placeholder="rows" value="<%= pattern_gauge_rows ? pattern_gauge_rows : '' %>" /> </li>
	</ul>
	<h3>Stitches/Rows to work:</h3>
	<ul class="edit rounded individual">
		<li> <input class="pattern_final_stitches" type="number" name="pattern_final_stitches" placeholder="stitches" value="<%= pattern_final_stitches ? pattern_final_stitches : '' %>" /> </li>
		<li> <input class="pattern_final_rows" type="number" name="pattern_final_rows"  placeholder="rows" value="<%= pattern_final_rows ? pattern_final_rows : '' %>" /> </li>
	</ul>
</div>
	<p><a href="#" class="btn clear btn_clear light_btn">Clear</a></p>
	<p><a href="#" class="btn btn_adjust brown_btn <% if(changed) { %>hide<% } %>">Go</a></p>
<div class="adjust_show <% if(gauge_adjust_stitches != "" && gauge_adjust_rows != "") { %>show<% } %>">
	<div class="gauge_adjust_result">
		<h3>Your Adjusted Stitches/Rows:</h3>
		<p align="center"> Work <span class="adjustedStitches"><%= gauge_adjust_stitches ? gauge_adjust_stitches : '' %></span> stitches, <span class="adjustedRows"><%= gauge_adjust_rows ? gauge_adjust_rows : '' %></span> rows instead.</p>
	</div>
</div>