<h3>Measurements</h3>
<div class="units">
	<a class="imperial <% if(unit == "imperial") { %>selected<% } %>" href="#">Inch</a>
	<a class="metric <% if(unit == "metric") { %>selected<% } %>" href="#">CM</a>
</div>
<h3>Needles</h3>
<div class="needles">
	<a class="imperial  <% if(needle_unit == "imperial") { %>selected<% } %>" href="#">US</a>
	<a class="metric  <% if(needle_unit == "metric") { %>selected<% } %>" href="#">MM</a>
</div>

 
<div id="app_info">
	<p><img src="css/img/heart@2x.png" style="width: 24px; height: auto"> <a href="http://tapcrafty.com/gaugefypro_download" target="_blank" style="line-height: 2em"> Please rate Gaugefy<br />
	to help others find it too!</a> </p>
	<p> <img src="css/img/twitter@2x.png" style="width: 18px; height: auto"><a href="http://twitter.com/intent/tweet?text=Calculating%20my%20gauge%20with%20@gaugefy.%20Love%20it!" target="_blank"  class="twitter_share">Share on Twitter</a> | <a href="http://www.twitter.com/gaugefy" target="_blank" class="twitter_link">Follow Us!</a> </p>
		<p><img src="css/img/facebook@2x.png" style="width: 10px; height: auto" > <a href="https://m.facebook.com/pages/TapCrafty/186924094720366" target="_blank">Like us on Facebook!</a></p>
	<p> For suggestions, please <a href="mailto:feedback@gaugefy.com?subject=Gaugefy Feedback&body=%0A%0a%0A%0aVersion 1.0.1">email us</a>!</p>
	<p> <a href="http://www.tapcrafty.com" target="_blank" class="website_link">More Knitting Apps</a> </p>
</div>
<div class="note" >
	<h3>Tips</h3>
	<ul>
		<li> All results are rounded to the nearest tenth (1 decimal point). </li>
	</ul>
</div>
<p class="small">
	Version 1.0.1<br />
	©ShhStudios, LLC.<br />
	Lead Developer: <a href="http://collingo.com/" target="_blank">Nick Collings</a>
</p>